#about {
    margin: 0 auto;
    padding-top: 30px;
    font-size: 14px;
    font-family: 'Malgun Gothic';
    color: black;
}
div.top {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}
div.chef_about img {
    width: 750px;
    height: 500px;
    float: left;
}
div.right img {
    width: 250px;
    height: 250px;
    float: left;
}
div.top_box {
    width: 210px;
    height: 210px;
    padding: 20px;
    float: inline-start;
    margin-top: -250px;
    background-color: rgb(36, 128, 36, 0.7);
}
div.top_box p {
    margin-top: 0px;
    font-size: 22px;
    font-weight: bold;
}
div.box_all {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}
p.box {
    width: 210px;
    height: 210px;
    padding: 20px;
    float: left;
    background-color: gray;
    margin: 0 auto;
}
p.box t {
    font-weight: bold;
    display: block;
    font-size: 22px;
    padding: 5px 0px 5px 0px;
}
p.box:nth-child(2n) {
    background-color:rgb(233, 102, 55);
}
p.box6 {
    overflow: hidden;
    float: left;
    height: 500px;
    width: 750px;
    margin-top: 0px;
}
p.box7 {
    padding: 20px;
    margin-top: 0px;
    width: 210px;
    height: 460px;
    background-color:rgba(252, 216, 162, 0.856);
    float: left;
    font-weight: bold;
}
div.footer {
    overflow: hidden;
    margin: 0 auto;
    padding-right: 250px;
    width: 750px;
    height: 40px;
    background-color:rgb(231, 128, 128) ;
}
p.footer {
    float: left;
    padding: 10px;
    height: 20px;
    margin: 0 auto;
}
p.footer:nth-child(2n) {
    color: orange;
    font-weight: bold;
}